// 新版本信息变更图例
.legend {
  &::before {
    display: inline-block;
    width: 21px;
    height: 6px;
    margin-right: 8px;
    content: "";
    background: #ffab00;
  }
}

// 新版本信息
.apply-version {
  .change-item {
    position: relative;
    &::after {
      position: absolute;
      bottom: 3px;
      display: block;
      width: 100%;
      height: 6px;
      content: "";
      background: rgba(255,171,0,.45);
    }
  }
}

// 变更详情
.fixed-details {
  .steps-tail {
    background-color: $gray-lightest-18 !important;
  }

  .steps-item {
    .steps-icon {
      visibility: hidden;
      &::before {
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
        @extend %aid-icon;
        visibility: visible;
      }
    }
    .steps-main__title {
      color: $gray-dark;
    }
    &.newOperation {
      .steps-head__inner {
        background: $brand-success;
        border-color: $brand-success;
        .steps-icon {
          color: #fff;
          &::before {
            content: "\F666";
          }
        }
      }
    }
    &.delOperation {
      .steps-head__inner {
        background: $brand-danger;
        border-color: $brand-danger;
        .steps-icon {
          color: #fff;
          &::before {
            content: "\F2B5";
          }
        }
      }
    }
    &.updateOperation {
      .steps-head__inner {
        background: $brand-info;
        border-color: $brand-info;
        .steps-icon {
          color: #fff;
          &::before {
            content: "\F1F7";
          }
        }
      }
    }
  }
}

