.list-unstyled li:nth-child(3) {
  border-left: 3px solid #FFDA00
}

.list-unstyled li:nth-child(4) {
  border-left: 3px solid #76ca39
}

.list-unstyled li:nth-child(2) {
  border-left: 3px solid #5dbbff
}

.list-unstyled li:nth-child(1) {
  border-left: 3px solid #ff5f5f
}

.software-rank-table {
  .table__header {
    display: none;
  }
}

.rank-one {
  display: inline-block;
  width: 22px;
  height: 24px;
  color: #fff;
  background-image: url("../../images/rank-one-bg.png");
}

.rank-two {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  background: #c9d0d7;
  border-radius: 50%;
}

.rank-three {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  background: #d0ac92;
  background-image: linear-gradient(-180deg, rgba(255,255,255,.16) 0%, rgba(0,0,0,.15) 100%);
  border-radius: 50%;
}

.usePercent-progress {
  .progress-bar {
    background-image: linear-gradient(-225deg, #67D6F2 0%, #2D8AF8 100%);
  }
}

.total-box {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-radius: 4px;
  background: rgba(38,152,242,0.1);
  //box-shadow: 0 35px 20px -20px rgba(0,137,245,.3);
}

.project-total-box {
  background: rgba(118,202,57,0.1);
  //box-shadow: 0 35px 20px -20px rgba(94,187,26,.3);
}

.icon-bg--lg {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
}
